<header>

	<div class="container clearfix">
		<div id="logo">
					<%= link_to posts_path do %>
						 <%= image_tag("logo_web.png", :width => 60) %>
					<% end %>
		</div>
			<nav>
				<ul class="clearfix">
						<li><%= link_to '服務內容', service_posts_path %></li>
						<li><%= link_to '合作案例', work_case_posts_path(@posts) %></li>
						<li><%= link_to '顧問', consultant_posts_path %></li>
						<li><%= link_to '東南亞商情', articles_path(@articles) %></li>
						<li><%= link_to '關於我們', aboutus_posts_path %></li>
				</ul>
			</nav>
				<div class="login">
					<!-- <a href="#" id="signup-link" > -->
						<% if current_user %>
							<%= link_to('登出', destroy_user_session_path, :method => :delete) %>
							<%= link_to('修改密碼', edit_registration_path(:user)) %>
						<% else %>
							<%= link_to('註冊', new_registration_path(:user)) %>
							<%= link_to('登入', new_session_path(:user)) %>
						<% end %>
					<!-- </a> -->
				</div>

	</div>

</header>





<section class="banner">
  <div  id="video-container" >
			<%= image_tag ("index-bg.jpg")%>
      <!-- <%= video_tag(["Blue-Bottle.webm"], :autoplay => true, :loop => true) %> -->
  </div>

  <div class="intro-text">
    <h1 class="animated infinite fadeInDown">亞洲最值得信賴的專業經商領航者</h1>
    <p class="animated infinite fadeInDown">國際知名翻譯公司 -WritePath-提供專業經商諮詢與隨行口譯，讓您放心南向拓展無往不利</p>
  </div>
</section>

  <div class="button animated infinite fadeInDown">
    <%= link_to '瞭解更多', service_posts_path %>
  </div>
