<header>
	<div class="container clearfix">
		<div id="logo">
					<%= link_to posts_path do %>
						 <%= image_tag("logo_web.png", :width => 60) %>
					<% end %>
		</div>
			<nav>
				<ul class="clearfix">
						<li><%= link_to '服務內容', service_posts_path %></li>
						<li><%= link_to '合作案例', work_case_posts_path(@posts) %></li>
						<li><%= link_to '顧問', consultant_posts_path %></li>
						<li><%= link_to '東南亞商情', articles_path(@articles) %></li>
						<li><%= link_to '關於我們', aboutus_posts_path %></li>
				</ul>
			</nav>


	</div>

</header>
<div class="workcase animated infinite fadeInLeft">


			<div class="tea-tilte">
		<h4>投資東協茶業</h4>
		<p>東盟地區氣候宜人，條件好，消費群體不斷增長，是全球茶葉產業和貿易的重要貢獻者。
				近年來，中產階級的發展和向工業經濟的轉型，已經重組和改善了幾個東協國家的茶葉產業，
				特別是在泰國，新加坡，印度尼西亞和馬來西亞。
				儘管地理位置接近，但這四個茶葉產業的經濟氣候面臨完全不同的情況，
				希望進入東協投資者應該認真思考每個地區的優勢和障礙。</p>
			<h4>泰國</h4>
			<p>近年來，泰國的茶葉主要集中在生產“即飲”茶。 截至去年，泰國茶葉年均增長18.7%，茶葉總產量達4.97億升。
				 去年，非貿易銷售總額達195億盧比(5.4億美元)，年增長率達到22%。
				 全國的RTD市場由三大頂級公司控股:Ichitan集團PCL，Oishi集團PCL和Tc製藥工業有限公司，
				 分別擁有泰國 RTD 茶葉市場的33%，27%和14%。</p>
		 	<p>泰國RTD茶葉產業的快速發展，在泰國國內消費市場的健康意識大幅增長。
					在未來五年內，RTD茶葉銷售額預計將超過329億泰銖(9.4億美元)，複合年增長率(CAGR)為12%</p>
			<h4>新加坡</h4>
			<p>雖然泰國將注意力集中在發展其國家的RTD茶葉產業，但新加坡的城市國家則專注於發展茶葉，咖啡和香料市場。
					新加坡只有超過718平方公里的土地，缺乏廣闊的農業空間可以為許多東盟鄰國種植茶葉。
					2014年，新加坡進口咖啡和香料總額達4.43億美元，比上年增長144.3%。</p>
			<p>新加坡的茶葉出口市場在過去也有所增長，2014年出口額增長150%以上，總計達4.096億美元。
					泰國是新加坡最大的咖啡和香料出口目的地， 2014年新加坡茶葉出口總額達到16.4%，佔全州茶葉出口利潤的363萬美元。
				 2014年，中國在新加坡最大的茶葉出口目的地排名第二，佔據15.3%和313 萬美元的市場份額。
				 新加坡鄰國馬來西亞在2014年進口新加坡茶葉312萬美元，佔茶葉出口總額的15.1%。
 			 	目前，新加坡的初級茶葉出口包括發酵紅茶，佔茶葉市場的38%，非發酵綠茶佔25%。
				發酵紅茶和非發酵綠茶分別在2014年的總利潤為777萬美元和508萬美元。</p>
			<h4>印度尼西亞</h4>
			<p>據聯合國糧食及農業組織稱，印度尼西亞在2013年的全球茶葉產業中排名第六。 目前，印度尼西亞是全國第位 葉飲 者的國家，平均每個 每  消費 磅 。 2014 ，印度尼 亞共 產146,682公噸 葉，出 近71,000 噸。 型私營和國有 葉 產企業佔泰國 葉出 的 部分，  型 葉 產 企業則迎合國內市場。全國最 的 葉出  的地包括俄羅斯，英國和巴基斯 坦。
印度尼 亞的 葉百分之六 以上 長在 爪哇，該地區的熱帶氣候和肥沃的 火  壤 適合作物。然 ，印度尼 亞的最低 資上漲幅度在每 95.50美 元到每 199.80美元之間，與消費者偏愛鄰近東盟國家的低成本 葉進 對印 度尼 亞國內 葉 產市場構成挑戰。印度尼 亞的國內 葉消費 近  也  幅上漲 20%， 全球平均增長率為百分之四。為 滿  益增長的國內  葉需求， 2000 以 ，印度尼 亞的 葉進  已經上升 400多個百分 點， 前全國進  葉的25%左右。
			</p>
			<h4>馬來西亞</h4>
			<p>
   馬來西亞溫暖的氣候非常適合茶葉生長，全國茶葉總產量的90%滿足國內需求。去年馬來西亞最大的茶葉生產企業之一的布朗人工林出產葉總產 只 有百分之 ， 葉銷售額約為1億美元。然 ，隨著   亞中產階級的興 起，全國 葉 產  的供應 急劇下降，百分之八 的百樂園員 是非    亞 。
在   亞 葉出 市場  ，中國   亞最 的 葉出  的地，僅在 2014 就從   亞進  價值2000萬美元的 葉，占出 總額的28%。印 度排名第 的是   亞最 的 葉出 地，佔全國 葉出 總額的17.4%， 達1700萬美元。肯尼亞和越南分別是   亞主要出  的地的第三和第四， 並且 起聚集 超過百分之 的出 市場，並進  超過六百萬美元的    亞 。</p>
<h4>展望未來</h4>
<p>
隨著東盟作為全球市場的重要  繼續發展， 葉 產等傳統產業經歷 快速 變化。 泰國，新加坡，印度尼 亞和   亞為外國投資者尋求在東南亞 葉 市場建立立 點提供  系 機會，但每個地區的個別 葉 產市場存在巨  差 。 建議希望進入市場的投資者深入 解 個特定國家的 葉市場氣候，以 獲得處於不斷增長的 業內的經濟機會。

</p>



			</div>

	</div>



</div>


<div class="service-p animated infinite fadeInRight">
  <p>合作案例</p>
  <div class="service-title-1"><p>Case</p></div>
  <div class="service-ul">
    <ul >
      <h4>商業諮詢</h4>
      <li>東協當地顧問、專屬產業前期研究、個別化的商業諮詢</li>
      <h4>線上溝通平台</h4>
      <li>提供專線溝通、即時與顧問諮詢問題</li>
      <h4>當地夥伴媒合</h4>
      <li>根據產業狀況，提供當地合作夥伴清單</li>
      <h4>東南亞商情</h4>
      <li>定期提供最新商情、顧問專欄文章</li>
    </ul>
  </div>
  <div class="service-more animated infinite fadeInDown">
    <%= link_to '>>>瞭解更多', consultant_posts_path %>
  </div>
</div>










<div class="aboutus-bg">
  <%= image_tag ("tea.jpg")%>
</div>
